.faq {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  grid-column-gap: 2rem;

  @include breakpoint($laptop-bp) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.faq__img {
  width: 100%;
  display: none;

  @include breakpoint($laptop-bp) {
    display: block;
  }
}

.faq__items {
  width: 100%;
}

.faq__item {
  width: 100%;
  padding: 1.2rem;
  border-top: 2px solid $grey;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: rgba($grey, 0.15);
  }

  &:last-child {
    border-bottom: 2px solid $grey;
  }

  @include breakpoint($mobileS-bp) {
    padding: 1.5rem;
  }

  @include breakpoint($mobileL-bp) {
    padding: 2rem;
  }
}

.faq__item-header {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__item-title {
  margin-right: 3.5rem;
  font-family: "Lora", serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: $primary;

  @include breakpoint($mobileL-bp) {
    font-size: 1.5rem;
  }

  @include breakpoint($tablet-bp) {
    font-size: 1.7rem;
  }
}

.faq__item-btn {
  transform: translateY(-30%) rotate(-45deg);
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  border: none;
  border-bottom: 1px solid $primary;
  border-left: 1px solid $primary;
  transition: transform 0.2s ease-in-out;

  &--open {
    transform: translateY(33%) rotate(135deg);
  }

  &:focus-visible {
    @include elem-focus;
  }

  @include breakpoint($mobileL-bp) {
    width: 2rem;
    height: 2rem;
  }
}

.faq__item-text {
  display: block;
  opacity: 1;
  font-size: 1.2rem;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: $primary;

  @include breakpoint($mobileL-bp) {
    font-size: 1.3rem;
  }

  @include breakpoint($tablet-bp) {
    font-size: 1.5rem;
  }
}
