$primary: #222;
$secondary: rgb(240, 240, 240);
$grey: #4b4b4b;
$black: #000;
$focus-color: #4c8fe7;

$header-height: 6.7rem;

$z-index-header: 10;
$z-index-slider-btn: 5;
$z-index-sidebar: 20;
$z-index-services-title: 1;
$z-index-alert: 30;

$laptop-bp: 1024px;
$tablet-bp: 768px;
$tabletS-bp: 550px;
$mobileL-bp: 425px;
$mobileS-bp: 355px;
